# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

*.log
media/
nohup.out
celeryd.log
runserver.sh
sftp-config.json
ENV/*
logs/*.log
logs/*.log.*
logs/*.pid
settings.py
*.pyc
local_settings.py
celerybeat-schedule
celerybeat.pid
media/iphone/NewsBlur/build
media/iphone/build
build/
.DS_Store
**/*.perspectivev*
data/
config/certificates
**/*.xcuserstate
UserInterfaceState.xcuserstate
UserInterfaceState\.xcuserstate
*.xcuserstate
xcuserdata
.xcodeproj/ push.xcodeproj/project.pbxproj
clients/ios/NewsBlur.xcodeproj/project.xcworkspace/xcshareddata/
*.mode1v3
*.pbxuser
media/maintenance.html
media/maintenance.html.unused
config/settings
static.tgz
.sass-cache
media/css/circular/.sass-cache
media/css/circular/sass/.sass-cache
media/css/circular
config/settings
config/secrets
templates/maintenance_on.html
vendor/mms-agent/settings.py

**/migrations/*

# temp file
cache.cfg
