{% load staticfiles %}
<!doctype html>
<html><head>
	<title>码上说-二维码语音便签</title>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
	<meta name="author" content="码上说">
	<meta name="description" content="码上说，二维码便签，语音便签">
	<link rel="stylesheet" href="{% static "wap/css/base.css" %}">
	<link rel="stylesheet" href="{% static "wap/css/touchTouch.css" %}">
	<link rel="stylesheet" href="{% static "wap/css/wap.css" %}">
	<script src="{% static "global/js/jquery-1.10.2.min.js" %}"></script>
	<script src="{% static "wap/js/event.jquery.min.js" %}"></script>
	<script src="{% static "wap/js/html5media.min.js" %}"></script>
	<script src="{% static "wap/js/wap.js" %}"></script>
	<script src="{% static "wap/js/touch.jquery.min.js" %}"></script>
	<script src="{% static "wap/js/touchTouch.jquery.min.js" %}"></script>
</head>
<body onunload="unload">
	<div class="wrapper">
		<div class="container">
			{% if text %}
			<pre class="detail">{{text}}</pre>
			{% endif %}
			{% if imgs %}
			<div class="photo_show clearfix">
				{% for img in imgs %}
					<a href="{{MEDIA_URL}}{{ img.url }}" style="background-image: url({{MEDIA_URL}}{{ img.url }});"></a>
				{% endfor %}
			</div>
			{% endif %}

			{% if audio %}
			<div class="audio_show">
				<div class="play_div clearfix">
					<img src="{% static "wap/images/btn_play_sound.png" %}" class="play" style="display: block;">
					<img src="{% static "wap/images/btn_pause_sound.png" %}" class="pause" style="display: none;">
					<audio src="{{MEDIA_URL}}{{ audio.url }}" id="audio" onplaying="on_audio_play();" onpause="on_audio_ready();" onended="on_audio_ready();" onerror="on_audio_ready();" style="display:none;">
						你的浏览器不支持音频播放，请使用UC等主流浏览器播放！
					</audio>
				</div>
				<p class="audio_tip">点击播放 <a style="position:absolute; right:10px;" href="{{MEDIA_URL}}{{ audio.url }}" download>下载</a></p>

			</div>
			{% endif %}
			
			{% if text or imgs or audio %}
			<p class="location_wrap">
				<b class="time_icon"></b>
				<span class="date">{{use_time | date:"Y-m-d H:i" }}</span>
			</p>
			{% else %}
			<div>
				<span id="empty_tips"> 该二维码还未使用<br>扫描官网二维码或搜索公众号“畅居·码上说”并关注，扫描并使用二维码</span>
			</div>
			{% endif %}
		</div>
		<div class="footer">
		</div>
		<div class="know_more_wrap">
			<p class="konw_more_font">码上说-码上留声 码上留影</p>
			<a href="http://codespeak.me" class="konw_more_link">了解码上说</a>
		</div>
	</div>
	<!-- 蒙层 -->
	<div class="index_meng">
		<img src="{% static "wap/images/weixinMask2.png" %}" alt="码上说蒙层" class="index_img">
	</div>
	<script>
	function on_audio_play() {
	    $(".play").hide();
	    $(".pause").show();
	};

	function on_audio_ready() {
	    $(".play").show();
	    $(".pause").hide();
	};
	 //退出页面时停止音频播放
	function unload() {
	    var audio = document.getElementById("audio");
	    audio.pause();
	    audio.currentTime = 0;
	}
	$(document).ready(function() {
	    var audio = document.getElementById("audio");
	    if (audio != null) {
	        $(".pause").on('click', function() {
	            audio.pause();
	            on_audio_ready();
	        });
	        $(".play").on('click', function() {
	            audio.play();
	            on_audio_play();
	        });
	    }
	    var num = $(".photo_show a").length;
	    switch (num) {
	        case 1:
	            $(".photo_show a").css({
	                "width": "97%",
	                "height": "180px"
	            });
	            break;
	        case 2:
	            $(".photo_show a").each(function() {
	                $(this).css({
	                    "width": "48%",
	                    "margin-right": "2%",
	                    "height": "150px"
	                });
	            });
	            break;
	    }
	    $(".photo_show a").touchTouch();
	    var ua = navigator.userAgent.toLowerCase();
	    if (ua.match(/MicroMessenger\//i) == "micromessenger\/" || ua.match(/QQ\//i) == "qq\/") {
	        $(".index_meng").show();
	    }
	    if (/iphone/i.test(ua)) {
	        var _scrollHeight = Math.max(document.body.scrollHeight, document.documentElement.scrollHeight);
	        $(".index_meng").css("height", _scrollHeight);
	    }
	    $(".index_meng").on("click", function() {
	        $(this).hide();
	    });
	});
	</script>
</body>
</html>